# MVS connection
MBT_MVS_HOST=localhost
MBT_MVS_PORT=1080
MBT_MVS_USER=IBMUSER
MBT_MVS_PASS=sys1

# Dataset high-level qualifier
MBT_MVS_HLQ=IBMUSER

# Dependency datasets HLQ and volume
MBT_MVS_DEPS_HLQ=MBTDEPS
MBT_MVS_DEPS_VOLUME=PUB000
